.containerNewGym {
    margin-top: 133px;
    width: 100%;
    position: relative;
    height: 250px;
    padding: 51px 200px;
}

.containerNewGym__title {
    font-size: 27px;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 30px;
}

.containerNewGym__find {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    padding: 0 50px;
}

.containerNewGym__find i {
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
}

.containerNewGym__find-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
}

.containerNewGym__find:has(.containerNewGym__find-input:focus) {
    border: 1px solid #00aeef;
    box-shadow: 0 0 0 2px #b3e5fc;
}

/* Responsive Main */
/* Mobile & Tablet */
@media (max-width: 63.9375em /* < 1023px */) {

}

/* Tablet */
@media (min-width: 46.25em /* >= 740px */) and (max-width: 63.9375em /* <= 1023px */) {

}

/* Mobile */
@media (max-width: 46.1875em /* <= 739px */) {
    .containerNewGym {
        margin-top: 200px;
        padding: 0 10px;
    }
}

/* PC */
@media (min-width: 64em /* >= 1024 */) {

}

/* Tablet & PC */
@media (min-width: 46.25em /* >= 740px */) {
    
}