/* Container First */
.containerFirst {
    margin-top: 133px;
    width: 100%;
    position: relative;
}

.containerFirst__banner-img {
    width: 100%;
    height: auto;
}

.containerFirst__content {
    display: block;
    width: 700px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.containerFirst-content__title {
    font-size: 27px;
    font-weight: 700;
}

.containerFirst-content__text {
    font-size: 14px;
}

/* Container Second */
.containerSecond {
    padding: 51px 17px;
    margin: 0 60px;
}

.containerSecond__head {
    margin-bottom: 34px;
    width: 100%;
    display: block;
    text-align: center;
}

.containerSecond__head-title {
    font-size: 27px;
    font-weight: 700;
    color: var(--text-two-color);
}

.containerSecond__container {
    margin: 0 99px;
}

.containerSecond__container-item {
    padding-left: 34px;
    padding-bottom: 34px;
    width: 480px;
    cursor: pointer;
}

.containerSecond__container-item.pt-68 {
    padding-top: 68px;
}

.containerSecond__container-item-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-two-color);
}

.containerSecond__container-item-content {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 640px;
    text-align: center;
}

.containerSecond__container-item:hover > .containerSecond__container-item-content > 
.containerSecond__container-item-content-img-wrapper > .containerSecond__container-item-content-img {
    transform: scale(1.05);
}

.containerSecond__container-item:hover > .containerSecond__container-item-content >
.containerSecond__container-item-content-list > .containerSecond__container-item-content-list-item > 
.containerSecond__container-item-content-list-item-img img {
    width: 55%;
    transition: transform 0.3s ease;
}

.containerSecond__container-item:hover > .containerSecond__container-item-content > .containerSecond__container-item-more {
    color: var(--primary-color);
}

.containerSecond__container-item-content-img-wrapper {
    overflow: hidden;
    border-radius: 10px;
    height: 545px;
}

.containerSecond__container-item-content-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.containerSecond__container-item-content-list {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -25px;
}

.containerSecond__container-item-content-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
}

.containerSecond__container-item-content-list-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: white;
    overflow: hidden;
    margin-bottom: 5px;
}

.containerSecond__container-item-content-list-item-img img {
    width: 50%;
    height: auto;
}

.containerSecond__container-item-more {
    font-size: 15px;
    color: var(--text-color);
}

/* Responsive Main */
/* Mobile & Tablet */
@media (max-width: 63.9375em /* < 1023px */) {
    .containerSecond__container-item.pt-68 {
        padding-top: 0;
    }

    .containerSecond__container-item-title {
        margin-bottom: 20px;
    }
}

/* Tablet */
@media (min-width: 46.25em /* >= 740px */) and (max-width: 63.9375em /* <= 1023px */) {
    .containerSecond__container-item {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Mobile */
@media (max-width: 46.1875em /* <= 739px */) {
    .containerFirst__content {
        width: 100%;
        padding: 0 15px;
    }

    .containerFirst__banner-img {
        height: 300px;
        object-fit: cover;
    }

    .containerSecond {
        padding: 51px 17px 0;
        margin: 0;
    }

    .containerSecond__container {
        margin: 0;
    }

    .containerSecond__container-item {
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .containerSecond__container-item:last-child {
        margin-bottom: 0;
    }

    .containerSecond__container-item-content {
        height: auto;
    }

    .containerSecond__container-item-content-img-wrapper {
        height: 100%;
    }

}

/* PC */
@media (min-width: 64em /* >= 1024 */) {

}

/* Tablet & PC */
@media (min-width: 46.25em /* >= 740px */) {
    
}