*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

:root {
    --primary-color: #00aeef;
    --second-color: #99c100;
    --text-color: #3d3d3d;
    --text-two-color: #525252;
    --white-color: #ffffff;
    --black-color: #000000;
}

select:focus,
select:active {
  outline: none;
  background-color: white !important;
  color: black !important;
}

.btnPrimary {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 5px 24px;
    border-radius: 999px;
    font-weight: 500;
}

.btnPrimary:hover {
    background-color: var(--second-color);
    color: var(--white-color);
    text-decoration: none;
}

.btnBar {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 500;
}

.btnPrimary.normal {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.btnPrimary.normal:hover {
    background-color: var(--second-color);
    color: var(--white-color);
    text-decoration: none;
}

.mb-30px {
    margin-bottom: 30px;
}

.mobile-menu__active {
    color: var(--primary-color) !important;
}

/* Nav */
/* Navbar */
.containerNavbar {
    display: block;
    height: 125px;
    box-shadow: 4px 4px 32px 16px rgba(0, 0, 0, .08);
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
}

.containerNavbar-banner__list {
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    font-style: italic;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
    list-style: none;
    line-height: 0.5;
    margin-bottom: 0;
}

.containerNavbar-banner__list-item {
    display: flex;
    gap: 60px;
}

.containerNavbar-banner__list-item::before {
    display: block;
    border-radius: 999999px;
    background-color: #fff;
    width: 7.6px;
    height: 7.6px;
    content: "";
}

.containerNavbar__navbar {
    display: flex;
    width: 100%;
    padding: 10px 34px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
}

.containerNavbar__navbar-logo-img {
    width: 160px;
    height: 53px;
    object-fit: contain;
}

.divEn {
    display: none;
}

.containerNavbar__navbar-menu-list-item.active a {
  color: var(--primary-color);
}

.containerNavbar__navbar-menu-list-item.vn {
    position: relative;
}

.divEn {
    display: none;
    position: absolute;
    top: 82%;
    right: 20%;
    background: var(--white-color);
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 60px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 10;
    padding: 4px 0;
    text-align: center;
}

.divEn a:hover {
    text-decoration: none;
}

.divEn::before {
    content: "";
    display: block;
    position: absolute;
    top: -18%;
    left: 0;
    width: 100%;
    height: 15px;
    background: transparent;
    pointer-events: auto;
}

.containerNavbar__navbar-menu-list-item.vn:hover + .divEn,
.divEn:hover {
    display: block;
}

.divEn a {
    display: block;
    padding: 6px 12px;
    color: var(--text-color);
    text-decoration: none;
}

.divEn a:hover {
    background: #f5f5f5;
}


.containerNavbar__navbar-menu-list-item a {
    text-decoration: none;
    color: var(--text-color);
    line-height: 4;
    font-weight: 500;
}

.containerNavbar__navbar-menu-list-item a:hover {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.containerNavbar__navbar-menu-list-item-btn{
    background-color: var(--primary-color);
    color: var(--white-color) !important;
    padding: 5px 24px;
    border-radius: 999px;
}

.containerNavbar__navbar-menu-list-item-btn:hover {
    background-color: var(--second-color);
    text-decoration: none;
}

.lang-icon {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.lang-icon img {
  display: inline-block;
  vertical-align: middle;
}

.mobile-menu {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    background-color: #e0f6fe;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 99;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.mobile-menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.mobile-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.mobile-menu li {
    padding: 12px 16px;
}

.mobile-menu li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

/* Footer */
/* Footer */
footer {
    background-color: #00aeef; 
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.containerFooter__up {
    background-color: #009fdd;
    display: inline-block;
    padding: 10px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
}

.containerFooter__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--white-color);
}

.containerFooter__info-about,
.containerFooter__info-policy {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.containerFooter__info-about-item,
.containerFooter__info-policy-item {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.containerFooter__info-about-item.active {
    color: var(--text-two-color);
}

.containerFooter__info-about-item:hover,
.containerFooter__info-policy-item:hover {
    text-decoration: none;
    color: var(--second-color);
}

.containerFooter__social {
    margin-top: 20px;
}

.containerFooter__social-list {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.containerFooter__social-item {
    color: white;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.containerFooter__social-item:hover {
    transform: scale(1.2);
}

/* Multibar */
.floating-contact {
    position: fixed;
    bottom: -50px;
    right: 20px;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating-contact .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.floating-contact .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.floating-contact .icon:hover {
    transform: scale(1.1);
}

/* Responsive Main */
/* Mobile & Tablet */
@media (max-width: 63.9375em /* < 1023px */) {
    .showMobileTablet {
        display: block;
    }

    .hiddenMobileTablet {
        display: none;
    }

    .containerNavbar__navbar-logo {
        flex: 1;
    }

    .mlr-8px {
        margin-left: 8px;
        margin-right: 8px;
    }
}

/* Tablet */
@media (min-width: 46.25em /* >= 740px */) and (max-width: 63.9375em /* <= 1023px */) {
    html {
        min-width: 1000px;
    }
    
    .hiddenTablet {
        display: none;
    }

    .containerNavbar-banner__list-item:nth-child(4),
    .containerNavbar-banner__list-item:nth-child(5) {
        display: none;
    }

    .containerNavbar-banner__list-item {
        margin-right: 40px;
    }

    .containerNavbar-banner__list {
        padding: 20px;
        justify-content: center;
    }

    .divEn {
        top: 84%;
        right: 32%;
    }
}

/* Mobile */
@media (max-width: 46.1875em /* <= 739px */) {
    .hiddenMobile {
        display: none;
    }

    .containerNavbar__navbar {
        padding: 10px 10px;
    }

    .containerNavbar-banner__list-item:nth-child(3),
    .containerNavbar-banner__list-item:nth-child(4),
    .containerNavbar-banner__list-item:nth-child(5) {
        display: none;
    }

    .containerNavbar-banner__list-item {
        gap: 5px;
    }

    .divEn {
        top: 84%;
        right: 15%;
    }
}

/* PC */
@media (min-width: 64em /* >= 1024 */) {
    .hiddenLaptop {
        display: none;
    }
}

/* Tablet & PC */
@media (min-width: 46.25em /* >= 740px */) {
    
}