/* Container First */
.containerFirst {
    margin-top: 133px;
    width: 100%;
    position: relative;
}

.containerFirst__banner-img {
    width: 100%;
    height: auto;
}

.containerFirst__content {
    display: block;
    width: 700px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.containerFirst-content__title {
    font-size: 27px;
    font-weight: 700;
}

.containerFirst-content__text {
    font-size: 14px;
}

/* Container Second */
.containerSecond {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 51px 0 0;
}

.containerSecond__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    padding: 0 17px;
    margin-bottom: 34px;
}

.containerSecond__head-menu {
    display: block;
    padding: 20px 17px;
    background: linear-gradient(180deg, #057b9f -32.73%, #00aeef 57.27%, #00aeef 108.51%, #057b9f 140.65%);
    border-radius: 8px;
    width: 600px;
    height: auto;
    text-align: center;
}

.containerSecond__head-title {
    font-size: 27px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 30px;
}

.containerSecond__head-menu-title {
    color: var(--white-color);
}

.containerSecond__head-menu-selectMenu {
    display: flex;
    margin-top: 10px;
    padding: 12px 17px;
    background-color: var(--white-color);
    border-radius: 999px;
}

.containerSecond__head-menu-select {
    border: none;
    border-radius: 999px;
    flex: 1;
    margin-right: 10px;
}

.containerSecond__content.row {
    margin: 0 150px;
    padding: 0 17px;
}

.containerSecond__content-item {
    position: relative;
    margin-bottom: 150px;
}

.containerSecond__content-item-img {
    position: relative;
    width: 470px;
    height: 300px;
    border-radius: 12px;
}

.containerSecond__content-item-info {
    position: absolute;
    top: 74%;
    margin-left: 120px;
    width: 350px;
    display: block;
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 25px;
    border-radius: 12px;
}

.containerSecond__content-item-info:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.containerSecond__content-item-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.containerSecond__content-item-text i{
    color: var(--primary-color);
}

.containerSecond__content-item-info:hover > .containerSecond__content-item-text i {
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

/* Responsive Main */
/* Mobile & Tablet */
@media (max-width: 63.9375em /* < 1023px */) {

}

/* Tablet */
@media (min-width: 46.25em /* >= 740px */) and (max-width: 63.9375em /* <= 1023px */) {
    .containerSecond__content-item-img {
        width: 445px;
    }

    .containerSecond__content-item-info {
        margin-left: 95px;
    }

    .containerSecond__content.row {
        margin: 0;
        padding: 0 25px;
    }
}

/* Mobile */
@media (max-width: 46.1875em /* <= 739px */) {
    .containerFirst__content {
        width: 100%;
        padding: 0 15px;
    }

    .containerFirst__banner-img {
        height: 300px;
        object-fit: cover;
    }

    .containerSecond {
        margin: 0;
    }

    .containerSecond__text {
        margin: 10px 0 0;
    }

    .containerSecond__content.row {
        margin: 20px 12px;
        padding: 0;
    }

    .containerSecond__head {
        margin: 0;
    }

    .containerSecond__head-menu {
        width: 100%;
    }

    .containerSecond__content-item-img {
        width: 100%;
    }

    .containerSecond__content-item-info {
        margin-left: 30px;
        width: auto;
    }
}

/* PC */
@media (min-width: 64em /* >= 1024 */) {

}

/* Tablet & PC */
@media (min-width: 46.25em /* >= 740px */) {
    
}